# System ignores
.DS_Store

# MATLAB ignores
*.m~

# SLURM ignores
*.sh

# Git ignores the large data files
*.asv
*.png
*.eps
*.jpg
*.tif

Data/BMA_results_RCP85_2020-11-14.mat
Data/runoff_by_state_02Nov2021.mat
SDP_reservoir_ops/data/runoff_by_state_June16_knnboot_1t.mat

Icon